p {
  display: inline-block;
}

span {
  display: inline-block;
}

img.plot {
  max-width:75vw;
  display: block;
  margin: 5 auto;
}

img.heading {
  max-height:400px;
  text-align: center;
  margin: 50 auto 0 auto;
  display: block;
  left: -50;
  max-width: 100vw;
}

h1 {
  text-align: center;
  font-size: 4em;
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100vw;
  min-height: 400px;
  padding:0;
  margin:0;
  line-height: 700px;
  color: white;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #555;
  text-decoration: none;
}

.glyphicon {
  font-size: 1.5em;
  padding: 10px;
}

.glyphicon-ok:hover {
  color:green;
}

.glyphicon-remove:hover {
  color:red;
}

.selectedpost {
  border: 2px red solid;
}

.subwindow {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 60vw;
  height: 60vh;
  min-width: 400px;
  background-color: #fff;
  z-index: 999;
  display: none;
}

.subwindow tr {
  background-color: #fff;
}

.subwindow td {
  border: 2px solid black;
}

.overlay {
    position:fixed;
    display:none; 

    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container {
  width: 90vw;
}

.threads {
  float: left;
  display: inline;
  width: 40vw;
}

.posts {
  float: right;
  display: inline;
  width: 40vw;
}

.author {
  font-style: oblique;
}

.postedon {
  float: right;
  clear: both;
}

.numreplies {

}

.title {
  font-weight: bold;
  font-size: 1.5em;
  width: 80%;
}

.votedown {
  float: right;
}

.voteup {
  float: right;
}

.posttitle {
  font-weight: bold;
}

.replyno {
  font-size: .8em;
}

.content {
  width: 80%;
}

.disableclick {
  pointer-events: none;
}

nav.responsivenav {
  display: none;
}

nav.normalnav {
  display: inline;
}

.responsive {
  display: none;
}

.summarystats {
  display: block;
}

.left{float:left;}
.right{float:right;}

@media only screen and (max-width: 960px) {
  .responsive {
    display: inline;
    text-align: center;
    font-size: 1.5em;
  }

  .summarystats {
    display: none;
  }

  nav.responsivenav {
    display: inline;
  }

  .posts {
    display: none;
  }

  .posts, .threads {
    width: 100%;
  }

  nav.normalnav {
    display: none;
}
}
