<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container" padding="20px">
<h1>Ambient Dashboard</h1>

<div class="navlinks">
{% for item in other_links %} 
<a href='/dashboard/{{item["game_id"]}}'>{{item['game_name']}}</a>
{% endfor %}
</div>

<div class="threads">
<h2>Threads</h2>

<table border="1" class="table table-hover">
<tbody>
{% for item in thread_data %}
<a href="#" onclick="displaythread({{item['thread_id']}});">
<tr>
<td class="author">{{ item['author_name'] }}</td>
<td class="postedon">{{ item['posted_on'] }}</td>
<td class="numreplies">{{ item['num_replies'] }}</td>
<td class="title">{{ item['title'] }}</td>
<td class="votedown"><a href='/vote/thread/down/{{item["thread_id"]}}'>DOWN</a></td>
<td class="voteup"><a href='/vote/thread/up/{{item["thread_id"]}}'>UP</a></td>
</tr>                
</a>
{% endfor %}          
</tbody>
</table>
</div>
<div class="posts">
<h2>Posts</h2>
<table border="1" class="table table-hover">
<tbody>
{% for item in post_data %}
<a href="#" onclick="displaypost({{item['thread_id']}},{{item['reply_num']}});">
<tr>
<td class="author">{{ item['author_name'] }}</td>
<td class="postedon">{{ item['posted_on'] }}</td>
<td class="replyno">{{ item['reply_num'] }}</td>
<td class="title">{{ item['title'] }}</td>
<td class="content">{{ item['content'] }}</td>
<td class="votedown"><a href='/vote/post/down/{{item["thread_id"]}}/{{item["reply_num"]}}'>DOWN</a></td>
<td class="voteup"><a href='/vote/post/up/{{item["thread_id"]}}/{{item["reply_num"]}}'>UP</a></td>
</tr>                
</a>
{% endfor %}          
</tbody>
</table>
</div>
</div>
