<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title>Ambient Dashboard</title>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script>
displaythread = function(thread_id){
alert("displaying " + thread_id);
}
displaypost = function(thread_id, reply_num){
alert("displaying post #" + reply_num + " of thread " + thread_id);
}
votepostdown = function(thread_id, reply_num){
$.ajax({
url: '/vote/post/down/'+thread_id+'/'+reply_num, 
type:"POST",
success: function(result){
if(result == "Successful"){alert("SUCCESS!")}
else{alert("Difficulty communicating with database.  Please try again later!")}
}});
}
votepostup = function(thread_id, reply_num){
$.ajax({
url: '/vote/post/up/'+thread_id+'/'+reply_num, 
type:"POST",
success: function(result){
if(result == "Successful"){alert("SUCCESS!")}
else{alert("Difficulty communicating with database.  Please try again later!")}
}});
}

</script>
</head>
<div class="container" padding="20px">
<h1>Ambient Dashboard</h1>

<div class="navlinks">
{% for item in other_links %} 
<a href='/dashboard/{{item["game_id"]}}'>{{item['game_name']}}</a>
{% endfor %}
</div>

<div class="threads">
<h2>Threads</h2>

{% for item in thread_data %}
<div class="thread_item" id="{{item['thread_id']}}">
<a href="#" onclick="displaythread({{item['thread_id']}});">
<p class="author">{{ item['author_name'] }}</p>
<p class="postedon">{{ item['posted_on'] }}</p>
<p class="numreplies">{{ item['num_replies'] }}</p>
<p class="title">{{ item['title'] }}</p>
</a>
<p class="votedown"><a href="/vote/thread/down/{{item['thread_id']}}">DOWN</a></p>
<p class="voteup"><a href='/vote/thread/up/{{item["thread_id"]}}'>UP</a></p>
</div>
{% endfor %}          
</tbody>
</table>
</div>
<div class="posts">
<h2>Posts</h2>
{% for item in post_data %}
<div class="post_item" id="{{item['thread_id']}}{{item['response_num']}}">
<a href="#" onclick="displaypost('{{item['thread_id']}}','{{item['response_num']}}');">
<p class="author">{{ item['author_name'] }}</p>
<p class="postedon">{{ item['posted_on'] }}</p>
<p class="replyno">{{ item['response_num'] }}</p>
<p class="title">{{ item['title'] }}</p>
<p class="content">{{ item['content'] }}</p>
</a>
<p class="votedown"><a onclick="votepostdown('{{item.thread_id}}','{{item.response_num}}');">DOWN</a></p>
<p class="voteup"><a onclick="votepostup('{{item.thread_id}}','{{item.response_num}}');">UP</a></p>
</div>
{% endfor %}          
</div>
</div>
