<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106760358-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106760358-1');
    </script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N5QWFGW');</script>
<!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Landing page for Ambient Dashboard">
    <meta name="author" content="John Bourassa">

    <title>Ambient Forum Parser</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../static/css/agency.css" rel="stylesheet">

  </head>

  <body id="page-top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5QWFGW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Ambient</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#what">What It Is</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#how">How It Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Cut Out The Noise With</div>
          <div class="intro-heading">Ambient</div>
          <a class="btn btn-xl js-scroll-trigger" href="/dashboard">View Dashboard</a>
        </div>
      </div>
    </header>

    <section id="what">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">What it is</h2>
            <h3 class="section-subheading text-muted">A dashboard app for forum posts</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <h4 class="service-heading">Highlights Priority Posts</h4>
            <p class="text-muted">Don't sift through pages and pages of threads or use arbitrary search terms to look for helpful posts.  Ambient sorts them for you!</p>
          </div>
          <div class="col-md-4">
            <h4 class="service-heading">Incorporates User Feedback</h4>
            <p class="text-muted">Tired of seeing posts from players who got banned for cheating?  Flag them as unhelpful, and the model will learn to exclude them!</p>
          </div>
          <div class="col-md-4">
            <h4 class="service-heading">Automatically Updates</h4>
            <p class="text-muted">Worried about the data?  Don't be!  A nightly job pulls in all new posts for the last 24 hours.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="how">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">How it works</h2>
            <h3 class="section-subheading text-muted"><a href="https://github.com/johink/ambient">Check it out on Github!</a></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
		    <div class="min_height">
              <img class="img-fluid" src="../static/img/portfolio/01.jpg" alt="Steam Logo">
			</div>
            <div class="portfolio-caption">
              <h4>Steam</h4>
              <p class="text-muted">Scraped threads using Python libraries including Requests, Selenium, and BeautifulSoup</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
		    <div class="min_height">
              <img class="img-fluid" src="../static/img/portfolio/02.jpg" alt="AWS Logo">
			</div>
            <div class="portfolio-caption">
              <h4>AWS</h4>
              <p class="text-muted">Ran EC2 instances in parallel to scrape nearly a million posts of historic content and write results to S3 bucket</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
		    <div class="min_height">
              <img class="img-fluid" src="../static/img/portfolio/03.png" alt="Pandas Logo">
			</div>
            <div class="portfolio-caption">
              <h4>pandas</h4>
              <p class="text-muted">Compared forum posts to future patch notes using cosine similarity as proxy for how 'useful' a post is</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
		    <div class="min_height">
              <img class="img-fluid" src="../static/img/portfolio/04.png" alt="Scikit Logo">
			</div>
            <div class="portfolio-caption">
              <h4>scikit-learn</h4>
              <p class="text-muted">Built Random Forest model out of vectorized post titles and content, as well as factors like capital letter usage and profanity</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
		    <div class="min_height">
              <img class="img-fluid" src="../static/img/portfolio/05.png" alt="Postgres Logo">
			</div>
            <div class="portfolio-caption">
              <h4>PostgreSQL</h4>
              <p class="text-muted">Designed database schema and API which allows dashboard users to rate posts for future models</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
		    <div class="min_height">
              <img class="img-fluid" src="../static/img/portfolio/06.png" alt="Flask Logo">
			</div>
            <div class="portfolio-caption">
              <h4>Flask</h4>
              <p class="text-muted">Constructed dashboard from scratch using HTML, CSS, jQuery, and Bootstrap</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="about">
      <div class="container">
          <div class="col-lg-12">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="../static/img/team/john.jpg" alt="">
              <h4>John Bourassa</h4>
              <p class="text-muted">Data Scientist</p>
              <ul class="list-inline social-buttons">
				  <li class="list-inline-item">
					<a href="https://github.com/johink">
					  <i class="fa fa-github"></i>
					</a>
				  </li>
				  <li class="list-inline-item">
					<a href="https://www.linkedin.com/in/bourassa/">
					  <i class="fa fa-linkedin"></i>
					</a>
				  </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">
			  John recently moved to Seattle from the East Coast, where he studied Accounting, Computer Science and Analytics.  
			  He built Ambient for his three-week capstone project as part of the Galvanize data science immersive program.
			  In addition to strengthening his data science skills, John enjoys playing games and going for hikes on Washington's many beautiful trails.
			</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/popper/popper.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/agency.min.js"></script>

  </body>

</html>
